html{
    color: #D1E8E2;
}

body{
    background-color: #272727;
}

p{
    padding-left: 10px;
    padding-right: 5px;
}

h1{
    font-style: Fantasy;
    color: #E3E2DF;
    font-size: 1.8em;
    text-align:center
}

h2{
    font-style: Fantasy;
    color: #D1E8E2;
    font-size: 1.2em;
    text-align:center
}

h3{
    font-style: Fantasy;
    color: #D1E8E2;
    font-size: 1.2em;
    text-align:left;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-bottom: 0;
}

h4{
    font-style: Fantasy;
    color: #D1E8E2;
    font-size: 1 em;
    text-align:left;
    margin-top: 5pt;
    margin-left: 10pt;
    margin-bottom: 0;
    font-weight:normal;
}

#introduction-div {
    float:none;
    height: 350px;
    width: 500px;
}

#keyboard-div {
    float:none;
    height: 250px;
    width: 500px;
}

#mouse-position-div {
    float:none;
    height: 200px;
    width: 400px;
}

#mouse-movement-div {
    float:none;
    height: 200px;
    width: 400px;
}

.row-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textColor{
    fill: #D1E8E2;
    font-size: 1em;
}

.ui-slider .ui-slider-handle {
    height: 20px;
    width: 1200px;
    padding-left: 5px; 
}

.ui-slider-horizontal {
    height: 8px;
    margin-left: 30pt;
    width: 1600px;
}

#gamepad-div {
    height: 400px;
    width: 500px;
}

#speed-div {
    height: 150px;
    width: 1700px;
}
